:root {
    --grid-columns: 12;
    --grid-size-base: 10;
    --grid-rows: 42;
    
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    pointer-events: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
}

 /* Container */

.container {

    width: 60vw;
    height: 40vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
}

.top-row{
    height: 33%;
    display: flex;
    flex-direction: row;
    
}

.middle-row{
    height: 33%;
    container-type: size;
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.bottom-row{
    height: 34%;
    display: flex;
    flex-direction: row;
}

.top-right{
    width: 59%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    margin-left: 1vw;
}

.top-left{
    container-type: size;
    width: 39%;
    display: flex;
    align-items: center;      
    justify-content: flex-end;
    overflow: hidden;
    margin-right: 1vw;
   
}

.bottom-right{
    container-type: size;
    width: 34%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    margin-left: 1vw;
}

.bottom-left{
    width: 64%;
    display: flex;
    align-items: center;      
    justify-content: flex-end;
    overflow: hidden;
    text-align: right;
    margin-right: 1vw;
}

.text-large {
  font-family: "Desire Pro", serif;
  font-size: 15vmin;
  
}

.text-small {
    font-family: 'Raleway', sans-serif;
    font-size: 2vmin;
}


/* Toggle */

.toggle-btn {
    pointer-events: auto;
    position: fixed;
    top: 5vh;
    left: 50%;
    transform: translateX(-50%);
    background: #000;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3vh;
    padding: 1.2vh 5vw;
    font-size: 2.5vh;
    display: flex;
    align-items: center;
    gap: 1vw;
    min-height: 3.1vh;
    
}

.toggle-circle {
    position: absolute;
    top: 50%;
    left: 0.5vw;
    transform: translateY(-50%);
    width: 3vh;
    height: 3vh;
    background: #7B97C5;
    border-radius: 50%;
    transition: left 0.3s ease;
}

.toggle-btn.toggled .toggle-circle {
    left: calc(100% - 0.5vw - 3.1vh);
}

.toggle-text {
    transition: opacity 0.2s ease;
}



/* Grid */

.grid {
    display: none;
    
    
}

.grid.active-view {
    display: grid;
    grid-template-columns: repeat(var(--grid-columns), 1fr);
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    height: 840vh;
    gap: 0px;
    
    
}

.cell {
    
    box-shadow: inset 0 0 0 0.5px #5c5b5b;
    position: relative;
    overflow: hidden;
}

.cell::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--bg-image);
    background-size: cover;
    background-position: center;
    opacity: 0;
}

.cell:hover::before {
    opacity: 1;
    transition: none;
}

/* Bubble */

#bubbleCanvas {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#bubbleCanvas.active-view {
    display: block;
}

/* Navbar */

.header {
    font-family: 'Raleway', sans-serif;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
    padding: 0.1rem 0.1vw;
    background-color: transparent;
    pointer-events: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2vw;
    padding-left: 1.5%;
    color: #fcfdf5;
    box-sizing: border-box;
}

.nav-links {
    list-style: none;
    display: flex;
    width: 95%;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
    margin-left: -10px;
    text-decoration: none;
    color: #000;
    font-size: 1.2vw;
    transition: color 0.3s ease;
    padding: 0 15px;
}

.nav-links li {
    padding: 0 15px;
}

.nav-links a:hover {
    color: #000;
}

.nav-s-button {
    list-style: none;
    display: flex; 
    justify-content: flex-end;
    text-decoration: none;
    color: #000;
    font-size: 1.2vw;
    transition: color 0.3s ease;
    white-space: nowrap;
    list-style: none;
}

.nav-s-button:hover {
    color: #000;
}

.nav-regular-link {
    text-decoration: none;
    color: #000000;
    font-size: 1.2vw;
    transition: color 0.3s ease;
    padding-top: 0.2rem;  

}

.nav-regular-link:hover {
    color: #000;
}   

/* Fonts */

@font-face {
    font-family: "Desire Pro";
    src: url("../Fonts/Desire-Pro.woff") format("woff");
    font-weight: 100;
}

/* Responsive Resizing */


@media (max-aspect-ratio: 28/15) {
    /* Very wide - base size on height so it doesn't get huge */
    .text-large {
        font-size: 12vmin;
    }
}

@media (max-aspect-ratio: 21/14) {
    /* Very wide - base size on height so it doesn't get huge */
    .text-large {
        font-size: 10vmin;
    }
}

@media (max-aspect-ratio: 16/13) {
    /* Very wide - base size on height so it doesn't get huge */
    .text-large {
        font-size: 8vmin;
    }

    .text-small {
        font-size: 1.5vmin;
    }
}

@media (max-aspect-ratio: 5/4) {
    .toggle-btn {
        width: 25vw;
        top: 12vh;
    }
}


    

@media (orientation: portrait) and (max-aspect-ratio: 3/4) {
    /* mobile portrait */

    .container {
        height: 60vh;
    }
    
    .top-row, .bottom-row, .middle-row {
        flex-direction: column-reverse;
        height: 20vh;
        justify-content: space-around;
    }

    .middle-row {
    line-height: 1.1; 
    text-align: center;
}
    
    .top-left, .top-right,
    .bottom-left, .bottom-right {
        width: 100%;
        text-align: center;
        justify-content: center;
        overflow: visible;
    }
    
    .text-large {
        font-size: 6vh;
    }


    
    .text-small {
        font-size: 3vw;
    }

    .toggle-label {
    font-size: 0px;
    }

    .toggle-btn {
        width: 25vw;
        top: 10vh;
    }

    .nav-s-button, .nav-regular-link{
        
        font-size: 2vh;
        
    }

    


    

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3vw;
    padding: 3vw;
    position: relative;
    margin-top: -745vh;  
    left: 0;
    width: 100%;
    z-index: 10;
    background: transparent;
}

.square {
    background-color: #e0e0e0;
    aspect-ratio: 3 / 2;
    background-size: cover;
    background-position: center;
    position: relative;
    overflow: hidden;
    
}

.square .overlay {
    position: absolute;
    top: -500;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.square:hover .overlay {
    opacity: 1;
}

.grid-container a {
    text-decoration: none;
}

.selected-text-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    top: 90vh;
    left: 50%;
    transform: translate(-50%, -50%);
    gap: 10px;
}

.vertical-line {
    top: 0;
    width: 80vw;
    height: 1px;
    background: #000;
}

/* grid veiw height vh and num rows need to be proportional 1 to 5. Change later to single variable.  */
/* root conflict between index & about me needs fix  */






